body {
	background-color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;;
	color: black;
}

.author {
	color: #974107;
}

.postsresults {
	width: 100%;
}

.noposts {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	font-size: xx-large;
	font-style: italic;
	color: #D3C8CB;
	text-align: center;
}

.settingsblock {
	width: 60%;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e86b17;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.searchresult {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.blocktitle {
	color: #974107;
}

.settingsublock {
	float: left;
	width: 45%;
	color: black;
}

#canvas {
	text-align: left;
	font-size: 1em;
	width: 65%;
	margin-left: 7%;
	margin-bottom: 5em;
	margin-top: 5em;
}

#error {
	color: #de162e;
	font-size: 20px;
	width: 100%;
}

#search {
	padding: 15px;
	margin: 2px;
	color: #a6754a;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e86b17;
}

#status {
	width: 100%;
	font-size: 20px;
	text-align: left
}

#publish {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	position: relative;
	float: right;
}

#instant {
	width: 100%;
	padding: 5px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

a {
	text-decoration: none
}

.streamidentifier {
	padding: 0.5em;
	background-color: #e86b17;
	font-weight: bold;
	color: white;
	text-align: center;
	width: auto;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e86b17;
}

.header {
	width: 100%;
	margin-bottom: 1em;
	color: white;
	background-color: #e86b17;
}

.links {
	padding: 1em;
	text-align: left;
	font-size: 1.2em;
	background-color: #e86b17;
	text-decoration: none;
}

span.links {
	background-color: #974107;
	color: white;
	padding: 0.5em; -webkit-border-radius : 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
}

.title {
	text-align: right;
	padding-top: 5px;
	padding-right: 15px;
}

label {
	display: block;
}

.footer {
	bottom: 0px;
	width: 100%;
}

.rightcolumn {
	width: 20%;
	float: right;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding: 15px;
	border: 1px solid #e86b17;
	margin: 10px;
	height: 85%;
}

.post {
	width: 90%;
	padding: 15px;
	margin: 15px;
	background-color: white;
	text-align: left;
	font-size: 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.hint {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	font-size: x-small;
	font-style: italic;
	color: #974107;
}

.postimage {
	padding: 5px;
	border: none;
	margin-right: 15px;
	float: left;
}

.miscellanea {
	text-align: right;
	color: blue;
	font-size: 14px;
	margin-right: 20px;
}

.comment {
	padding: 7px;
	border-style: none;
	margin: 8px 8px 8px 16px;
	margin-left: 10%;
	margin-right: 5%;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background-color: #fff1e5;
	text-align: left;
	font-size: 16px;
}

#posts {
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e86b17;
	background-color: #e86b17;
	font-weight: bold;
	color: white;
	text-align: center;
	width: auto;
}

#tags {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	font-size: medium;
	color: #974107;
}

#posts span {
	display: block;
	padding: 0 0 0 15px;
	position: relative;
	white-space: nowrap;
}

#peoplelist {
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e86b17;
	background-color: #e86b17;
	font-weight: bold;
	color: white;
	text-align: center;
	width: auto;
}

#following li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.people {
	padding: 15px;
	margin: 2px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e86b17;
	min-height: 58px;
}

.postidentifier {
	text-align: left;
	color: #974107;
	font-size: 15px;
}

.misc_buttons {
	position: relative;
	text-align: right;
	font-size: 24px;
}

.linkbutton {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	border-style: none;
	background-color: white;
	color: #974107;
}

.tag {
	font-size: 14px;
	color: #1a4221;
}

.box {
	margin-left: auto;
	margin-right: auto;
	height: 303px;
	width: 80%;
}

.sign {
	width: 42%;
	background-color: white;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e86b17;
	padding: 20px;
	margin: 7px;
	float: left;
}

.stream {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	background-color: #d3c8cb;
	padding-top: 1em;
	padding-bottom: 1em;
}

ul {
	list-style-type: none;
}

hr {
	color: #e86b17;
	background-color: #e86b17;
	height: 1px;
}

b {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	font-weight: bold;
	color: #e86b17
}

button {
	border: 0 none;
	cursor: pointer;
	font-weight: bold;
	padding: 0 15px 0 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
	width: auto;
}

button.rounded {
	background: transparent url( images/btn_right.png ) no-repeat scroll
		right top;
	clear: left;
	font-size: 0.8em;
}

button span {
	display: block;
	padding: 0 0 0 15px;
	position: relative;
	white-space: nowrap;
	height: 30px;
	line-height: 30px;
}

button.rounded span {
	background: transparent url( images/btn_left.png ) no-repeat scroll left
		top;
	color: #FFFFFF;
}

button.rounded:hover {
	background-position: 100% -30px;
}

button.rounded:hover span {
	background-position: 0% -30px;
}

button::-moz-focus-inner {
	border: none;
}

textarea {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
}